# Naive Bayes Classifier

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("D:\\Machine Learning\\Data\\titanicdata.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

P(Survived/Sex & Class & Age & Cabin & Fare)

It is called Naive Bayes because we make an assumption that the features like male, class, age, cabin and fare are independent of each other.

In [6]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis = 'columns', inplace = True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [7]:
target = df.Survived
inputs = df.drop(['Survived'], axis = 'columns')

In [8]:
dummies = pd.get_dummies(inputs.Sex, dtype = int)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [9]:
inputs = pd.concat([inputs, dummies], axis = 'columns')
inputs.drop(['Sex'], axis = 'columns', inplace = True)

In [10]:
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [11]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [12]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [13]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.Age[:10]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [14]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     891 non-null    float64
 2   Fare    891 non-null    float64
 3   female  891 non-null    int32
 4   male    891 non-null    int32
dtypes: float64(2), int32(2), int64(1)
memory usage: 28.0 KB

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

#### Using Gaussian Naive Bayes Classifier

In [17]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [18]:
model.fit(X_train,y_train)

GaussianNB()

In [19]:
model.score(X_test,y_test)

0.7486033519553073

In [20]:
X_test[:10]

     Pclass        Age     Fare  female  male
656       3  29.699118   7.8958       0     1
454       3  29.699118   8.0500       0     1
87        3  29.699118   8.0500       0     1
335       3  29.699118   7.8958       0     1
775       3  18.000000   7.7500       0     1
846       3  29.699118  69.5500       0     1
648       3  29.699118   7.5500       0     1
346       2  40.000000  13.0000       1     0
815       1  29.699118   0.0000       0     1
128       3  29.699118  22.3583       1     0

In [21]:
y_test[:10]

656    0
454    0
87     0
335    0
775    0
846    0
648    0
346    1
815    0
128    1
Name: Survived, dtype: int64

In [22]:
model.predict(X_test[:10])

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1], dtype=int64)

In [46]:
model.predict_proba(X_test[:10])

array([[0.99097067, 0.00902933],
       [0.99097273, 0.00902727],
       [0.99097273, 0.00902727],
       [0.99097067, 0.00902933],
       [0.98903371, 0.01096629],
       [0.97562888, 0.02437112],
       [0.99096559, 0.00903441],
       [0.02649297, 0.97350703],
       [0.93506263, 0.06493737],
       [0.05146919, 0.94853081]])